header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 11vh;
  color: white;
  background-color: #131921;
  cursor: default;
}

.headerContentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.headerContentContainer > h1 {
  margin-bottom: 15px;
  font-size: 45px;
  color: rgb(209, 133, 12);
  border-bottom: 2px solid rgb(15, 12, 209);
}

.headerContentContainer > nav {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
}

.headerContentContainer > nav > li,
a {
  margin: 25px;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  color: rgb(209, 133, 12);
  cursor: pointer;
  height: 0%;
}

.headerContentContainer > nav > a:hover {
  filter: brightness(1.5);
}

.headerContentContainer > nav > .cart-container {
  /* to keep item amount attatched to cart */
  position: relative;
}

.shopping-cart-image {
  height: 63px;
  width: 63px;
  filter: brightness(0) invert(1);
  justify-content: center;
  margin-top: 9px;
}

.shopping-cart-image:hover {
  filter: brightness(3);
}

.total-items-container {
  display: none;
}

.total-items-container.active {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
  font-size: 13px;
  color: rgb(19, 41, 139);
  font-weight: bolder;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 71, 99);
  border-radius: 50%;
}
